<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MakeMyTrip Automation Test Suite" parallel="false">
    <test name="Train Booking Tests">
        <classes>
            <class name="com.makemytrip.runners.TestRunner"/>
        </classes>
    </test>
</suite>
